body {
  background-color: #0e1111;
  color: white;
  text-align: center;
  font-family: "Lora", serif; /* Main font for body text */
  font-size: 16px; /* Adjust the font size as needed */
  line-height: 1.6; /* Adjust the line height for better readability */
}
h1,
h2,
h3 {
  font-weight: bold;
  text-align: center;
  font-family: "Playfair Display", serif; /* Fonts for headings */
}
h1 {
  font-size: 32 px; /* Main headings font size */
}
h2 {
  font-size: 26px; /* Subheadings font size */
}
h3 {
  font-size: 20px; /* Subheadings font size */
}
p {
  margin-bottom: lem; /* Add some vertical spacing between paragraphs */
}
a {
  font-family: "Montserrat", sans-serif; /* Font for links */
  color: #ffffff; /*Set the desired color for the link*/
  text-decoration: none; /* Remove the underline form links */
}
a:hover {
  color: #cccccc; /*Set the desired color for the link when hovered*/
}
a:visited {
  color: #99ccff; /*Set the desired color for visited links*/
}

/*eventually crate loading outline of knoxville city*/
img {
  border: 2px solid #cccccc;
  filter: brightness(1.2) saturate(1.5);
  width: auto;
}
.main-title {
  font-size: 50px;
}
.image-container {
  width: 100%; /*Adjust the width of the container based on the website layout*/
  max-width: 100%; /*Limit the container's width to prevent image overflow*/
  height: auto; /*Allow heigh to adjust automatically*/
}
.title-pictures {
  height: auto;
  height: 500px;
  max-width: 90%;
}
